h1, h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    
}

p {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 1.4rem;
}

.text1 {
    font-size: 1.3rem;
}

.image-text-container {
    display: flex;
    align-items: center; /* Centre verticalement le texte par rapport à l'image */
    margin: 300px; /* Espace entre la section précédente et celle-ci */
    margin-top: 100px;
}

.image-left {
    max-width: 500px; /* Limite la largeur de l'image */
    height: auto; /* Garde le ratio de l'image */
    margin-right: 20px; /* Espace entre l'image et le texte */
}

.text-right {
    flex: 1; /* Permet au texte de prendre tout l'espace restant */
    text-align: justify; /* Justifie le texte pour un rendu propre */
    // font-size: 1.3rem;
}