.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.carousel-image {
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    transition: ease 1s linear;
}


.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.carousel-text h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.carousel-text p {
    font-size: 1.5rem;
}