.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.carousel-image {
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    transition: ease 1s linear;
}


.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.carousel-text h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.carousel-text p {
    font-size: 2rem;
}

/* Responsive Breakpoints */

/* Smartphones (max-width: 479px) */
@media (max-width: 479px) {
    .carousel-image {
        height: 30vh; /* Réduire la hauteur pour les petits écrans */
    }

    .carousel-text h1 {
        font-size: 2.5rem; /* Réduire la taille du texte */
    }

    .carousel-text p {
        font-size: 1.2rem; /* Réduire la taille du texte */
    }
}

/* Tablettes (min-width: 480px) and (max-width: 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .carousel-image {
        height: 40vh; /* Ajuster la hauteur pour les tablettes */
    }

    .carousel-text h1 {
        font-size: 3rem; /* Ajuster la taille du texte */
    }

    .carousel-text p {
        font-size: 1.5rem; /* Ajuster la taille du texte */
    }
}

/* Tablettes et petits écrans (min-width: 768px) */
@media (min-width: 768px) {
    .carousel-image {
        height: 50vh; /* Hauteur par défaut */
    }

    .carousel-text h1 {
        font-size: 4rem; /* Taille par défaut */
    }

    .carousel-text p {
        font-size: 2rem; /* Taille par défaut */
    }
}

/* Grands écrans (min-width: 1200px) */
@media (min-width: 1200px) {
    .carousel-image {
        height: 60vh; /* Augmenter la hauteur pour les grands écrans */
    }

    .carousel-text h1 {
        font-size: 5rem; /* Augmenter la taille du texte */
    }

    .carousel-text p {
        font-size: 2.5rem; /* Augmenter la taille du texte */
    }
}