.navbar {
    background: linear-gradient(to top right, white, lightblue, lightblue);
    color: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 10;
    font-family: 'Nunito', sans-serif;
}

.navbar ul {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    width: 90%;
}

a {
    text-decoration: none !important;
    color: black !important;
    font-size: 2rem;
}

li {
    list-style: none;
}

.logo1 {
    width: 150px;
    height: auto;
}