.hometext-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top left, white, lightblue, white);
    padding: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    // padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

.hometitle {
    color: #007bff;
    font-size: 3rem;
}

i {
    font-size: 2rem;
    color: #007bff;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hometext-container.animate {
    animation: slideInUp 1s ease-in-out;
}