.image-text-container1 {
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, white, lightblue, white);
    font-family: 'Nunito', sans-serif;
}


.image1 {
    max-width: 400px;
    height: auto;
    margin: 50px;
    border-radius: 15px;
}

.text-container1 {
    font-size: 1.8rem;
    margin: 60px;
    text-align: center;
}

.slideTitle {
    color: #007bff;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-text-container1.animate {
    animation: slideIn 1s ease-in-out;
}

/* Breakpoints */

/* Petits écrans (smartphones) */
@media (max-width: 479px) {
    .image-text-container1 {
        flex-direction: column;
        padding: 20px;
    }

    .image1 {
        max-width: 250px;
        margin: 20px;
    }

    .text-container1 {
        font-size: 1.2rem;
        margin: 20px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .image-text-container1 {
        flex-direction: column;
        padding: 30px;
    }

    .image1 {
        max-width: 300px;
        margin: 25px;
    }

    .text-container1 {
        font-size: 1.3rem;
        margin: 30px;
    }
}

/* Tablettes */
@media (min-width: 768px) {
    .image-text-container1 {
        // display: flex;
        // flex-direction: column;
        padding: 40px;
    }

    .image1 {
        max-width: 300px;
        margin: 30px;
    }

    .text-container1 {
        font-size: 1.4rem;
        margin: 40px;
    }
}

/* Grands écrans (ordinateurs de bureau) */
@media (min-width: 1200px) {
    .image-text-container1 {
        padding: 60px;
    }

    .image1 {
        max-width: 400px;
        margin: 50px;
    }

    .text-container1 {
        font-size: 2rem;
        margin: 60px;
    }
}