.card-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background: linear-gradient(to top left, white, lightblue, white);
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-section {
  flex: 1;
  margin: 0 10px;
}

.card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
}

.card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #007bff;
  font-family: 'Nunito';
}

.card p {
  font-size: 1em;
  color: #555;
  font-family: 'Nunito';
}

.card-title {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  color: blue !important;
  font-family: 'Nunito' !important;
  padding: 10px;
  background: transparent;
  opacity: 70%;
  border-radius: 50px;
  border: 1px solid lightblue;
}


.card {
  
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Petits écrans (max-width: 479px) */
@media (max-width: 479px) {
  .card-container {
    padding: 20px;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card-section {
    margin: 0;
    width: 100%;
  }

  .card {
    margin: 10px 0;
    padding: 15px;
    width: 100%;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.8rem;
    margin: 15px;
    margin-bottom: 10px;
  }
}

.card-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Appareils moyens (min-width: 480px) and (max-width: 767px) */
@media (min-width: 480px) and (max-width: 855px) {
  .card-container {
    padding: 30px;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card-section {
    margin: 0;
    width: 100%;
  }

  .card {
    padding: 20px;
    width: 100%;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 0.95rem;
  }

  .card-title {
    font-size: 1.8rem;
  }
}

/* Tablettes (min-width: 768px) */
@media (min-width: 856px) {
  .cards-wrapper {
    flex-direction: row;
  }

  .card-section {
    margin: 0 15px;
  }

  .card {
    padding: 25px;
    margin: 15px 0;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.8rem;
  }
}

/* Grands écrans (min-width: 1200px) */
@media (min-width: 1200px) {
  .card-container {
    padding: 60px;
  }

  .card {
    padding: 30px;
  }

  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  .card-title {
    font-size: 2.4rem;
  }
}